[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
python-magic = "*"
django-filter = "*"
django-versatileimagefield = "*"
drf-flex-fields = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
